<template>
    <b-container fluid>
        <b-row>
            <b-col cols="4" class="sidebar">
                <app-menu :serverData="server" :vms="vms" :selectedServer="selectedServer"></app-menu>
            </b-col>
            <b-col cols="8">
                <!--<img src="./LandingPageView/assets/logo.png" alt="electron-vue">-->
                <h2>TODOS</h2>
                <h4>- VM actions (Animation nach dem Klick (laden und auf return warten alle buttons blockieren)) </h4>
                <h4>- warning where credentials are stored</h4>
                <hr>
                <!--<current-page></current-page>-->
                <!--<versions></versions>-->
                <!--<links></links>-->
                <server :serverData="server"
                        v-if="$route.name === 'landing-page-server'"></server>
                <v-m v-if="$route.name === 'landing-page-vm'"></v-m>
                <dashboard v-if="$route.name === 'landing-page'"></dashboard>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
  import AppMenu from './Menu'
  import Server from './LandingPageView/ServerData.vue'
  import VM from './LandingPageView/VM.vue'
  import Dashboard from './LandingPageView/Dashboard.vue'

  import ServerDB from '../../classes/serverdb'
  import XenVms from '../../classes/xenvms'

  export default {
    components: {
      AppMenu,
      Dashboard,
      Server,
      VM
    },
    data () {
      return {server: '', vms: '', selectedServer: ''}
    },
    methods: {
      loadServer: function () {
        let self = this
        let serverDB = new ServerDB()
        serverDB.getAllServer(function (res) {
          if (res instanceof Error) {
            self.$notify.error('Server couldn´t loaded.')
          }
          self.server = res
        })
      },
      getVms: function () {
        let self = this
        let server = new ServerDB()
        if (this.$route.params.serverid) {
          server.getServerByID(this.$route.params.serverid, function (data) {
            let xenVMs = new XenVms(false, data.servername, data.username, server.decrypt(data.password), function () {

            })
            self.selectedServer = data.servername
            xenVMs.getAllVms(function (vms) {
              if (vms instanceof Error) {
                self.vms = ''
                return
              }
              self.vms = vms
            })
          })
        }
      }
    },
    mounted: function () {
      this.loadServer()
      this.getVms()
    },
    watch: {
      '$route' (to, from) {
        if (to.params.serverid !== from.params.serverid) {
          this.vms = ''
          this.getVms()
        }
      }
    },
    name: 'landing-page'
  }
</script>

<style scoped>
    img {
        margin-top: -25px;
        width: 450px;
    }

    .sidebar {
        border-right: 1px solid lightgray;
    }
</style>
