<template>
    <div>
        <b-navbar class="flex-column">
            <b-navbar-brand href="/">XenApp</b-navbar-brand>
            <b-nav-form>
                <b-button v-on:click="modalShow = !modalShow" size="sm">Add new Server</b-button>
            </b-nav-form>
            &nbsp;
            <b-nav pills class="flex-column">
                <b-nav-item v-for="row in serverData" :key="row.id"
                            :to="{name: 'landing-page-server', params: {serverid: row.id}}">
                    {{ row.servername }}
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <b-button @click.prevent.self="removeServer(row.id)" class="pull-right" variant="danger" size="sm">
                        x
                    </b-button>

                </b-nav-item>
                <b-nav pills class="flex-column" v-if="vms.length > 0">
                    &nbsp;
                    <h6>{{selectedServer}} VMs</h6>
                    <b-nav-item
                            :to="{ name: 'landing-page-vm', params: { serverid: $route.params.serverid, uuid:vm.uuid }}"
                            v-for="vm in vms" :key="vm.uuid">{{vm.name_label}}
                    </b-nav-item>
                </b-nav>

                <!--<b-nav-item>TODO:</b-nav-item>-->
                <!--<b-nav-item to="/">Server</b-nav-item>-->
                <!--<b-nav pills class="flex-column">-->
                <!--<b-nav-item class="ml-3 my-1" href="#item-3-1">VM 1</b-nav-item>-->
                <!--<b-nav-item class="ml-3 my-1" href="#item-3-2">VM 2</b-nav-item>-->
                <!--</b-nav>-->
            </b-nav>
        </b-navbar>

        <b-modal v-model="modalShow" hide-footer title="Add new Server">
            <div class="d-block text-center">
                <b-container fluid>
                    <b-row>
                        <b-col sm="3"><label for="input-small">Server:</label></b-col>
                        <b-col sm="9">
                            <b-form-input size="sm" v-model="servername"
                                          type="text"
                                          placeholder="Servername" autofocus></b-form-input>
                        </b-col>

                        <b-col sm="3"><label for="input-small">User:</label></b-col>
                        <b-col sm="9">
                            <b-form-input size="sm" v-model="username"
                                          type="text"
                                          placeholder="Username"></b-form-input>
                        </b-col>

                        <b-col sm="3"><label for="input-small">Password:</label></b-col>
                        <b-col sm="9">
                            <b-form-input size="sm" v-model="password"
                                          type="password"
                                          placeholder="Password"></b-form-input>
                        </b-col>
                    </b-row>
                </b-container>
            </div>
            <b-btn class="mt-3" variant="outline-primary" :disabled="checkConnection" block @click="testConnection">
                <i v-if="checkConnection" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                <span v-else>Test Connection</span>
            </b-btn>

            <br>

            <b-btn variant="danger" @click="modalShow = false">Cancel</b-btn>
            <b-btn variant="success" class="pull-right" @click="addServer">Save</b-btn>
        </b-modal>
    </div>
</template>

<script>
  import ServerDB from '../../classes/serverdb'
  import XenApi from '../../classes/xenapi'

  export default {
    props: ['serverData', 'vms', 'selectedServer'],
    data () {
      return {
        modalShow: false,
        servername: '',
        username: 'root',
        password: '',
        checkConnection: false
      }
    },
    methods: {
      removeServer: function (id) {
        let serverdb = new ServerDB()
        let self = this
        serverdb.removeServer(id, function (success) {
          if (success instanceof Error) {
            self.$notify.error('Server couldn´t removed')
            return
          }
          self.$notify.success('Server was successful removed!')

          // redirect to dasbboard
          self.$parent.loadServer()
        })
      },
      addServer: function () {
        let self = this
        let serverDB = new ServerDB()
        serverDB.addServer({
          'servername': self.servername,
          'username': self.username,
          'password': self.password
        }, function (success) {
          if (success instanceof Error) {
            self.$notify.error('Server couldn´t save')
            return
          }
          self.$notify.success('Server successfully saved!')

          self.$parent.loadServer()
          self.modalShow = false
          self.servername = ''
          self.username = 'root'
          self.password = ''
        })
      },
      testConnection: function () {
        let self = this
        let xenApi = new XenApi(self.servername, self.username, self.password)
        self.checkConnection = true
        xenApi.testConnection(function (res) {
          if (res instanceof Error) {
            console.error(res)
            self.$notify.error('Server, network or cred error.')
            self.checkConnection = false
          } else {
            self.$notify.success('Connection was successful!')
            self.checkConnection = false
          }
        })
      }
    }
    // watch: {
    //   '$route' (to, from) {
    //   }
    // }
  }
</script>

<style scoped>
</style>
