<template>
    <div class="dashboard">
        <h1>Dashboard</h1>
        <!--<div class="row" v-if="this.$parent.server[0]">-->
        <!--<div class="col-xs-12 col-sm-6 col-lg-4" v-for="row in this.$parent.server">-->
        <!--<router-link tag="div" class="box" :to="{name: 'landing-page-server', params: {id: row.id}}">-->
        <!--<div class="icon">-->
        <!--<div class="image"><i class="fa fa-desktop"></i></div>-->
        <!--<div class="info">-->
        <!--<h3 class="title">{{ row.servername }}</h3>-->
        <!--<h4>-->
        <!--<span class="label label-danger">TODO: get status</span>-->
        <!--</h4>-->
        <!--<p>TODO: get data from server</p>-->
        <!--<p>RAM: 70/128 GB</p>-->
        <!--<p>HDD: 2700/5000 GB</p>-->

        <!--</div>-->
        <!--</div>-->
        <!--<div class="space"></div>-->
        <!--</router-link>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div v-else>-->
        <img v-bind:src="imageUrl" alt="XenServer" width="90%">

        <hr>

        <h3>You are using electron v{{ versions['atom-shell'] }} with node v{{ versions.node }} on the {{ platform }} platform.</h3>

        <hr>
        <!--</div>-->
        <ul class="navbar-fixed-bottom">
            <li><a href="https://simulatedgreg.gitbooks.io/electron-vue/content/index.html">documentation</a></li>
            |
            <li><a href="http://electron.atom.io/">electron</a></li>
            |
            <li><a href="http://vuejs.org/">vue.js</a></li>
        </ul>
    </div>

</template>

<script>
  import os from 'os'

  export default {
    data () {
      return {
        imageUrl: 'static/imgs/xen.png',
        platform: os.platform(),
        versions: process.versions
      }
    }
  }
</script>

<style scoped>
    a {
        color: rgb(50, 174, 110);
        text-decoration: none;
    }

    a:hover {
        color: rgb(40, 56, 76);
    }

    ul {
        list-style-type: none;
        margin-top: 10px;
    }

    li {
        display: inline-block;
    }

    .box > .icon {
        text-align: center;
        position: relative;
    }

    .box > .icon > .image {
        position: relative;
        z-index: 2;
        margin: auto;
        width: 88px;
        height: 88px;
        border: 8px solid white;
        line-height: 88px;
        border-radius: 50%;
        background: #7f7f7f;
        vertical-align: middle;
    }

    .box > .icon:hover > .image {
        background: #333;
    }

    .box > .icon > .image > i {
        font-size: 36px !important;
        color: #fff !important;
    }

    .box > .icon:hover > .image > i {
        color: white !important;
    }

    .box > .icon > .info {
        margin-top: -24px;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid #e0e0e0;
        padding: 15px 0 10px 0;
    }

    .box > .icon:hover > .info {
        background: rgba(0, 0, 0, 0.04);
        border-color: #e0e0e0;
        color: white;
    }

    .box > .icon > .info > h3.title {
        font-family: "Robot", sans-serif !important;
        font-size: 16px;
        color: #222;
        font-weight: 700;
    }

    .box > .icon > .info > p {
        font-family: "Robot", sans-serif !important;
        font-size: 13px;
        color: #666;
        line-height: 1.5em;
        margin: 20px;
    }

    .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
        color: #222;
    }

    .box > .icon > .info > .more a {
        font-family: "Robot", sans-serif !important;
        font-size: 12px;
        color: #222;
        line-height: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .box > .icon:hover > .info > .more > a {
        color: #fff;
        padding: 6px 8px;
        background-color: #63B76C;
    }

    .box .space {
        height: 30px;
    }

    .box {
        min-width: 280px;
    }
</style>
