<template>
    <div class="data">
        <h1>XenServer {{servername}}</h1>
        <h3>{{ $route.name }} {{ $route.params.serverid }} </h3>
        <div id="serverdata" v-if="!loading">
            <p>IP: {{ ip }}</p>
            <p>Xen-Version: {{ xenversion }}</p>
            <!--<p>{{ serverdata }}</p>-->
        </div>
        <div class="row" v-if="vms[0] && !loading">
            <div class="col-xs-12 col-sm-6 col-lg-4" v-for="vm in vms">
                <router-link tag="div" class="box"
                             :to="{name: 'landing-page-vm', params: {uuid: vm.uuid, serverid:$route.params.serverid }}">
                    <div class="icon">
                        <div class="image"><i class="fa fa-desktop"></i></div>
                        <div class="info">
                            <br>
                            <h3 class="title">{{ vm.name_label }}</h3>
                            <h4>
                                <span class="badge badge-success" v-if="vm.power_state === 'Running'">{{ vm.power_state }}</span>
                                <span class="badge badge-danger" v-else>{{ vm.power_state }}</span>
                            </h4>
                            <p>TODO: get data from vm</p>
                            <p>RAM: {{ parseInt(vm.memory_static_max / 1073741824) }} GB</p>
                            <p>HDD: 2700/5000 GB</p>

                        </div>
                    </div>
                    <div class="space"></div>
                </router-link>
            </div>
        </div>

        <!--<h1 v-else>Leider konnten keine Daten geladen werden</h1>-->

        <div v-if="loading" class="center">
            <div class="spinner"></div>
        </div>

    </div>
</template>


<script>
  import XenVms from '../../../classes/xenvms'
  import XenServer from '../../../classes/xenserver'
  import ServerDB from '../../../classes/serverdb'

  export default {
    props: ['serverData'],
    data () {
      return {
        servername: '',
        ip: '',
        xenversion: '',
        loading: true,
        vms: ''
      }
    },
    methods: {
      loadServerData: function () {
        let self = this
        let server = new ServerDB()
        //                console.log(this.$route.params.id)
        server.getServerByID(this.$route.params.serverid, function (data) {
          let xenServer = new XenServer(data.servername, data.username, server.decrypt(data.password), function (sessionref) {
            // get host ip
            xenServer.getIP(sessionref, function (ip) {
              self.ip = ip
            })
            // get xen version
            xenServer.getXenVersion(sessionref, function (version) {
              self.xenversion = version
            })
          })

          self.servername = data.servername

          let xenVMs = new XenVms(false, data.servername, data.username, server.decrypt(data.password), function () {

          })
          xenVMs.getAllVms(function (vms) {
            if (vms instanceof Error) {
              self.$notify.error('Unable to connect ' + self.servername)
              self.loading = false
              self.vms = ''
              return
            }
            self.loading = false
            self.vms = vms
          })
        })
      }
    },
    mounted: function () {
      this.loadServerData()
    },
    watch: {
      '$route' (to, from) {
        this.vms = ''
        this.loading = true
        this.ip = ''
        this.xenversion = ''
        // on route change re run: loadServerData
        this.loadServerData()
      }
    }
  }
</script>


<style scoped>
    a {
        color: rgb(50, 174, 110);
        text-decoration: none;
    }

    a:hover {
        color: rgb(40, 56, 76);
    }

    ul {
        list-style-type: none;
        margin-top: 10px;
    }

    li {
        display: inline-block;
    }

    .box > .icon {
        text-align: center;
        position: relative;
    }

    .box > .icon > .image {
        position: relative;
        z-index: 2;
        margin: auto;
        width: 88px;
        height: 88px;
        border: 8px solid white;
        line-height: 88px;
        border-radius: 50%;
        background: #7f7f7f;
        vertical-align: middle;
    }

    .box > .icon:hover > .image {
        background: #333;
    }

    .box > .icon > .image > i {
        font-size: 36px !important;
        color: #fff !important;
    }

    .box > .icon:hover > .image > i {
        color: white !important;
    }

    .box > .icon > .info {
        margin-top: -24px;
        background: rgba(0, 0, 0, 0.04);
        border: 1px solid #e0e0e0;
        padding: 15px 0 10px 0;
    }

    .box > .icon:hover > .info {
        background: rgba(0, 0, 0, 0.04);
        border-color: #e0e0e0;
        color: white;
    }

    .box > .icon > .info > h3.title {
        font-family: "Robot", sans-serif !important;
        font-size: 16px;
        color: #222;
        font-weight: 700;
    }

    .box > .icon > .info > p {
        font-family: "Robot", sans-serif !important;
        font-size: 13px;
        color: #666;
        line-height: 1.5em;
        margin: 20px;
    }

    .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
        color: #222;
    }

    .box > .icon > .info > .more a {
        font-family: "Robot", sans-serif !important;
        font-size: 12px;
        color: #222;
        line-height: 12px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .box > .icon:hover > .info > .more > a {
        color: #fff;
        padding: 6px 8px;
        background-color: #63B76C;
    }

    .box .space {
        height: 30px;
    }

    .box {
        min-width: 280px;
    }
</style>
