<template>
    <div id="vm-data">
        <div v-if="powerstate">
            <h3>{{ $route.params.serverid }} {{ $route.params.uuid }}</h3>
            <!--<p>-->
            You are currently at <code>`{{ $route.path }}`</code> on the <code>`{{ $route.name }}`</code> view.
            <!--</p>-->
            <h1>VM: {{ name }}</h1>
            <h3> TODO: add all vm functions</h3>
            <h3>Status: <span class="label" v-bind:class="[powerstateClass]">{{ powerstate }}</span></h3>

            <button v-on:click="startVM()"
                    v-if="powerstate ==='Halted'"
                    class="btn btn-success btn-lg"
                    :disabled="buttonsOff">
                <i class='fa play'></i> Start
            </button>
            <button v-on:click="resumeVM()"
                    v-if="powerstate ==='Suspended'"
                    class="btn btn-success btn-lg"
                    :disabled="buttonsOff">
                <i class="fa fa-play"></i> Resume
            </button>
            <button v-on:click="unpauseVM()"
                    v-if="powerstate ==='Paused'"
                    class="btn btn-success btn-lg"
                    :disabled="buttonsOff">
                <i class="fa fa-play"></i> Unpause
            </button>

            <!--not needed paused stores the vm in RAM and supend on disk this ist much better-->
            <!--<button v-on:click="pauseVM($event)" v-if="powerstate ==='Running'" class="btn btn-warning btn-lg"-->
            <!--data-loading-text="<i class='fa fa-spinner fa-spin '></i> Pausing">Paused-->
            <!--</button>-->
            <button v-on:click="suspendVM()"
                    v-if="powerstate ==='Running'"
                    class="btn btn-warning btn-lg"
                    :disabled="buttonsOff">
                <i class="fa fa-pause"></i> Suspend
            </button>
            <button v-on:click="rebootVM()"
                    v-if="powerstate ==='Running'"
                    class="btn btn-primary btn-lg"
                    :disabled="buttonsOff">
                <i class="fa fa-repeat"></i> Reboot
            </button>
            <button v-on:click="shutdownVM()"
                    v-if="powerstate ==='Running'"
                    class="btn btn-danger btn-lg"
                    :disabled="buttonsOff">
                <i class="fa fa-power-off"></i> Shutdown
            </button>


            <button v-on:click="getConsole()" class="btn btn-default btn-lg"
                    :disabled="buttonsOff">
                <i class="fa fa-terminal"></i> Console
            </button>
        </div>
        <div v-else="" style="width: 400px; text-align: center">
            <div class="spinner"></div>
        </div>
    </div>
</template>

<script>
  import XenVms from '../../../classes/xenvms'
  import XenConsole from '../../../classes/xenconsole'
  import ServerDB from '../../../classes/serverdb'

  export default {
    data () {
      return {ip: '', name: '', powerstate: '', powerstateClass: 'label-default', loading: true, buttonsOff: false}
    },
    methods: {
      rebootVM: function () {
        // TODO: not wotking reboot
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.rebootVM(sessionref, function (res) {
              if (res) {
                console.log(res)
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      shutdownVM: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.shutdownVM(sessionref, function (res) {
              if (res) {
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      startVM: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.startVM(sessionref, function (res) {
              if (res) {
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      suspendVM: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.suspendVM(sessionref, function (res) {
              if (res) {
                console.log(res)
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      resumeVM: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.resumeVM(sessionref, function (res) {
              if (res) {
                console.log(res)
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      pauseVM: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.pauseVM(sessionref, function (res) {
              if (res) {
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      unpauseVM: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.unpauseVM(sessionref, function (res) {
              if (res) {
                self.getPowerstate()
                self.buttonsOff = false
              }
            })
          })
        })
      },
      getConsole: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.getConsoleRef(sessionref, function (ref) {
              if (ref[0]) {
                let xenconsole = new XenConsole(false, serverData.servername, serverData.username, server.decrypt(serverData.password), function () {

                })

                //                                xenconsole.getLocation(ref[0], function (location) {
                //                                    console.log(location)
                //                                })
                xenconsole.getOtherConfig(ref[0], function (res) {
                  console.log(res)
                  self.buttonsOff = false
                })
                // load function without initialisation session ref
                //                                xenconsole.getUUID(ref[0], function (uuid) {
                //                                    console.log(uuid)
                //                                })
              }
            })
          })
        })
      },
      getPowerstate: function () {
        let self = this
        let server = new ServerDB()
        self.buttonsOff = true
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.getPowerState(sessionref, function (powerstate) {
              self.powerstate = powerstate
              self.buttonsOff = false
            })
          })
        })
      },
      getVMData: function () {
        let self = this
        let server = new ServerDB()
        server.getServerByID(self.$route.params.serverid, function (serverData) {
          let xenVM = new XenVms(self.$route.params.uuid, serverData.servername, serverData.username, server.decrypt(serverData.password), function (sessionref) {
            xenVM.getVMName(sessionref, function (name) {
              console.log(name)
              self.name = name
            })

            xenVM.getPowerState(sessionref, function (powerstate) {
              self.powerstate = powerstate
            })
          })
        })
      }
    },
    mounted: function () {
      this.getVMData()
    },
    watch: {
      '$route' (to, from) {
        this.name = false
        this.loading = true
        this.ip = ''
        this.getVMData()
      },
      powerstate: function (val) {
        switch (val) {
          case 'Halted':
            this.powerstateClass = 'label-danger'
            break
          case 'Running':
            this.powerstateClass = 'label-success'
            break
          case 'Suspended':
            this.powerstateClass = 'label-warning'
            break
          case 'Paused':
            this.powerstateClass = 'label-warning'
            break
          default:
            console.error('Not known state: ', val)
        }
      }
    }
  }
</script>

<style scoped>
    code {
        background-color: rgba(40, 56, 76, .5);
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        padding: 3px 6px;
        margin: 0 3px;
        vertical-align: bottom;
    }

    p {
        line-height: 24px;
    }
</style>
